.details {
    background-image: url(../../assets/Ellipse3.png), url(../../assets/Ellipse15.png);
    background-repeat: no-repeat;
    background-position: left top, 76vw 33vh;
    height: 100vh;

    img {
        width: 50px;
        margin: 10px 0 0 10px;
        cursor: pointer;
    }

    &__client {
        &__title {
            text-align: center;
            margin: 0;
        }

        &__informations {
            display: flex;
            gap: 8%;
            align-items: center;

            img {
                width: 236px;
                border-radius: 50%;
                height: 209px;
                margin-left: 20px;
            }

            &__contact {
                text-align: center;
                margin-top: 10vh;
            }

            &__activity {
                display: flex;
                gap: 26%;

                p {
                    padding: 10px;
                }
            }
        }

        &__general {
            display: flex;
            width: 80%;
            gap: 8%;
            margin-top: 5%;

            &__objectif {
                margin: 0 95px;

                p {
                    border-radius: 50px;
                    background: var(--secondary-color);
                    padding: 20px;
                }
            }

            &__problems {
                margin: 0px 95px 0 10px;

                p {
                    border-radius: 50px;
                    background: var(--secondary-color);
                    padding: 20px;
                }
            }

            &__payments {
                position: absolute;
                top: 50%;
                right: 0;
                width: 18%;
                height: 100%;
                padding: 20px;
                overflow-y: auto;

                &__title {
                    h2 {
                        color: white;
                        background-color: #ffa079;
                        width: 82%;
                    }
                }

                &__content {
                    background-color: white;
                    min-height: 80vh;
                    border-radius: 34px;
                    box-shadow: var(--box-shadow);
                    padding: 1px;

                    &__unpaid {
                        border-radius: 73px;
                        background: var(--secondary-color);
                        padding: 1%;
                        text-align: center;
                        margin: 20px;
                    }

                    &__seance {
                        &__details {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;

                            img {
                                width: 30px;
                                height: 30px;

                            }
                        }
                    }
                }


            }

            &__seances {
                &__list {

                    &__objectif,
                    &__recap {
                        &__title {
                            display: flex;
                            width: 70%;
                            justify-content: space-between;
                            align-items: center;

                            img {
                                height: 40px;
                                width: 40px;
                            }
                        }

                        &__content {
                            margin: 0 50px;
                            width: 67%;
                            border-radius: 10px;
                            padding: 20px;
                            box-shadow: var(--box-shadow);
                        }

                    }
                }

            }
        }
    }
}