<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label for="clientId">Client: </label>
    <select id="clientId" formControlName="clientId" [(ngModel)]="selectedClientName">
        <option *ngFor="let clientName of clientsName" [value]="clientName">{{ clientName }}</option>
    </select>

    <label for="activity">Activity: </label>
    <input id="activity" type="text" formControlName="activity">

    <label for="objectif">Objectif: </label>
    <input id="objectif" type="text" formControlName="objectif">

    <label for="Price">Prix: </label>
    <input id="Price" type="number" formControlName="price">

    <label for="date">Date: </label>
    <input id="date" type="datetime-local" formControlName="date">


    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    <div *ngIf="successMessage">
        <p>{{ message }}</p>
      </div>
  
</form>