<div class="content form-client">
    <div class="form-client__content">
        <img src="../../assets/close.png" alt="close" (click)='cancel()'>
        <h2>Ajout d'une séance</h2>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form-client__content__form">
            <div class="form-client__content__form__client-activity">
                <div class="form-client__content__form__client-activity__client">
                    <label for="clientId">Client: </label>
                    <select id="clientId" formControlName="clientId" [(ngModel)]="selectedClientName" required>
                        <option *ngFor="let clientName of clientsName" [value]="clientName">{{ clientName }}</option>
                    </select>
                </div>
                <div class="form-client__content__form__client-activity__activity">
                    <label for="activity">Activity: </label>
                    <select id="activity" formControlName="activity" [(ngModel)]="selectedActivity" required>
                        <option *ngFor="let activity of activities" [value]="activity">{{ activity }}</option>
                    </select>
                </div>
            </div>
            <div class="form-client__content__form__date-price">
                <div class="form-client__content__form__date-price__date">
                    <label for="date">Date: </label>
                    <input id="date" type="datetime-local" formControlName="date" required>
                </div>
                <div class="form-client__content__form__date-price__price">
                    <label for="Price">Prix: </label>
                    <input id="Price" type="number" formControlName="price" required>
                </div>
            </div>
            <div class="form-client__content__form__objectif">
                <label for="objectif">Objectif: </label>
                <textarea id="objectif" type="text" formControlName="objectif"></textarea>
            </div>
            <div class="form-client__content__form__action">
                <button type="button" (click)='cancel()' class="form-client__content__form__action__cancel">Annuler</button>
                <div *ngIf="havingMessage">
                    <p>{{ message }}</p>
                </div>
                <input type="checkbox" name="contact_me" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
                <button type="submit" [disabled]="!profileForm.valid" class="form-client__content__form__action__submit">Enregistrer</button>
               
            </div>
        </form>
    </div>
</div>