<div class="content form-login">
  <div class="form-login__content">
    <form [formGroup]="signinForm" (ngSubmit)="loginUser()" class="form-login__content__form">
      <h2 class="form-login__content__form__title">Connexion</h2>
      <div class="form-login__content__form__email">
        <label>Email</label>
        <input
          type="email"
          class="form-login__content__form__email__input"
          formControlName="email"
          required
        />
      </div>
      <div class="form-login__content__form__password">
        <label>Password</label>
        <input
          type="password"
          class="form-login__content__form__password__input"
          formControlName="password"
          required
          />
      </div>
      <div class="form-login__content__form__submit">
        <button type="submit" class="form-login__content__form__submit__button">Connexion</button>
      </div>
    </form>
  </div>
</div>