<div class="content clients">
    <h1>Liste de tous mes clients</h1>
    <div class="clients__filter">
        <div class="clients__filter__all" (click)="applyFilter('Tous')"[ngClass]="{'selected':  currentFilter === 'Tous'}">Tous</div>
        <div class="clients__filter__sport" (click)="applyFilter('Sport')"[ngClass]="{'selected':  currentFilter === 'Sport'}">Sport</div>
        <div class="clients__filter__nutrition" (click)="applyFilter('Nutrition')"[ngClass]="{'selected':  currentFilter === 'Nutrition'}">Nutrition</div>
        <img src="../../assets/More.png" alt="button add">
    </div>
    <div class="clients__list">

        <div class="clients__list__content" *ngFor="let client of filteredClients">

            <div class="clients__list__content__card">
                <h2 class="clients__list__content__card__name">{{client.user_name}}</h2>
                <img src="../../assets/Pen.png" alt="button add" class="clients__list__content__card__modify">
            </div>
            <div class="clients__list__content__card__stickers">
                <div class="clients__list__content__card__stickers__activity" *ngFor="let activity of client.activity">
                    <p
                        [style.backgroundColor]="activity === 'Nutrition' ? '#88FFBF' : (activity === 'Sport' ? '#FF8888' : 'transparent')">
                        {{ activity }}
                    </p>
                </div>
            </div>
            <div class="clients__list__content__card__infos">
                <p> {{client.email}}</p>
                <p *ngIf="client.phone != null"> {{client.phone}}</p>
            </div>
            <div *ngIf="client.last_session_date" class="clients__list__content__card__last-seance">Dernière séance le :
                {{formatDate(client.last_session_date)}}</div>
        </div>
    </div>

</div>