/* Styles pour la barre de navigation */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--color-texte);
    padding: 10px 20px;
    position: sticky;
    top: 0.3px;
    z-index: 5000;
    height: 5vh;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-texte);
}
@media (max-width:950px) {
    
}


