<div class="content dashboard">
  <h1 class="dashboard__title">Mélo-Active</h1>
  <div class="dashboard__planner">
    <div class="dashboard__planner__months">
      <button (click)="goToPreviousMonth()">
        < </button>
          {{currentMonth }} {{currentYear}}
          <button (click)="goToNextMonth()">></button>
    </div>
    <div class="dashboard__planner__months__month">
      <button (click)="goToPreviousWeek()">
        < </button>
          <div class="dashboard__planner__months__month__days" *ngFor="let day of daysOfMonth; let i = index">
            <span>{{ getDayOfWeek(i) }}</span>
            <div class="dashboard__planner__months__month__days__day">
              {{ day }}
              <div *ngFor="let infos of informations">
                <div *ngIf="day == infos.day">
                  {{infos.email}}
                </div>  
              </div>

            </div>
          </div>
          <button (click)="goToNextWeek()">></button>

    </div>
    
  </div>


</div>