/* You can add global styles to this file, and also import other style files */
@use 'scss/root';


body {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-primary);
    font-weight: 600;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}

p,
span,
div {
    font-family: var(--font-paragraphe);
    font-weight: 400;
}
/* width */
body::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: var(--secondary-color); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);  
  }
